<html>

<head>
    <title>Control Tutorials</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Page Layout -->
    <link rel="stylesheet" href="/static/css/main.css" media='screen and (min-width: 800px)' />
    <link rel="stylesheet" href="/static/css/mobile-main.css" media='screen and (max-width: 800px)' />
    <link rel="stylesheet" href="/static/css/nav.css" />

    <!-- Themes -->
    <link rel="stylesheet" href="/static/css/themes/controls_theme.css" />

    <!-- Material Design Icons -->
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/icons.css" />

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous">
        </script>

    <!-- Automation -->
    <script src="/static/js/html_loader.js"></script>

</head>

<body>
    <div class="page-container">
        <div data-include="minor-header"></div>

        <div class="lesson-center-container">
            <div class="section-title">
                Featured Tutorials
                <hr>
            </div>
            <div class="lesson-list">

                <!-- PID Control -->
                <div class="lesson-block">
                    <!-- <div class="lesson-img-frame">
                        <img src="/static/img/quadcopter-cad.png" class="lesson-gif"></img>
                    </div> -->
                    <div class="lesson-frame">
                        <div class="lesson-name">PID Control</div>
                        <!-- <div class="lesson-authors">
                            Justin Kleiber
                        </div> -->
                        <br>
                        <div class="lesson-summary">
                            Learn about PID Controllers

                            <a class="go-button" href="pid-control.html">Start</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>