<html>

<head>
    <title>Research | Justin Kleiber</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Page Layout -->
    <link rel="stylesheet" href="static/css/main.css" media='screen and (min-width: 800px)' />
    <link rel="stylesheet" href="static/css/mobile-main.css" media='screen and (max-width: 800px)' />
    <link rel="stylesheet" href="static/css/nav.css" />

    <!-- Themes -->
    <link rel="stylesheet" href="static/css/themes/controls_theme.css" />

    <!-- Material Design Icons -->
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css" rel="stylesheet">

    <link rel="stylesheet" href="static/css/icons.css" />

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous">
        </script>

    <!-- Automation -->
    <script src="static/js/html_loader.js"></script>

    <!-- ApexCharts -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <!-- PID Control demo JS -->
    <script src="static/js/pid_control_demo.js"></script>
</head>

<body>
    <div class="page-container">
        <div data-include="minor-header"></div>

        <div class="lesson-center-container">
            <div class="lesson-scroller">

                <div class="section-title">
                    Introduction
                    <hr>
                </div>

                <p class="lesson-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis ultricies risus. Etiam fermentum
                    elit
                    ut ligula pulvinar ultricies. Nullam egestas sollicitudin tempus. Nam ac interdum mi. Morbi nec
                    purus
                    vel ligula malesuada sollicitudin. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                    posuere cubilia curae; Sed odio augue, rutrum sed imperdiet ut, ornare vitae mi. Fusce ex mi,
                    pharetra
                    nec placerat vitae, pellentesque vel felis. Aenean efficitur vel risus nec pharetra. Pellentesque
                    hendrerit leo in dui sollicitudin auctor. Maecenas ac magna vitae ipsum faucibus interdum nec
                    eleifend
                    nibh.
                </p>

                <div class="section-title">
                    What is PID?
                    <hr>
                </div>

                <p class="lesson-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis ultricies risus. Etiam fermentum
                    elit
                    ut ligula pulvinar ultricies. Nullam egestas sollicitudin tempus. Nam ac interdum mi. Morbi nec
                    purus
                    vel ligula malesuada sollicitudin. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                    posuere cubilia curae; Sed odio augue, rutrum sed imperdiet ut, ornare vitae mi. Fusce ex mi,
                    pharetra
                    nec placerat vitae, pellentesque vel felis. Aenean efficitur vel risus nec pharetra. Pellentesque
                    hendrerit leo in dui sollicitudin auctor. Maecenas ac magna vitae ipsum faucibus interdum nec
                    eleifend
                    nibh.
                </p>


                <!-- PID Control -->
                <div class="example-block">
                    <!-- <div class="lesson-img-frame">
                        <img src="/static/img/quadcopter-cad.png" class="lesson-gif"></img>
                    </div> -->
                    <div class="example-header">PID Control Demo</div>
                    <!-- <div class="lesson-authors">
                            Justin Kleiber
                        </div> -->
                    <br>
                    <div class="example-frame">
                        <div id="chart"></div>

                        <div class="lesson-summary">
                            P = Proportional

                            I = Integral

                            D = Derivative
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script>
        var data = []
        let X_AXIS_RANGE = 10000;
        let TICKINTERVAL = 100;

        var options = {
            series: [{
                data: data.slice()
            }],
            chart: {
                id: 'realtime',
                height: 350,
                type: 'line',
                animations: {
                    enabled: true,
                    easing: 'linear',
                    dynamicAnimation: {
                        speed: TICKINTERVAL
                    }
                },
                toolbar: {
                    show: false
                },
                zoom: {
                    enabled: false
                }
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                curve: 'smooth'
            },
            title: {
                text: 'Dynamic Updating Chart',
                align: 'left'
            },
            markers: {
                size: 0
            },
            xaxis: {
                type: 'numeric',
                range: X_AXIS_RANGE
            },
            yaxis: {
                max: 1
            },
            legend: {
                show: false
            },
        };

        let DATA_LENGTH = 20;


        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();

        var startTime = performance.now();


        window.setInterval(function () {
            var new_val = Math.random();
            var currentTime = performance.now()
            var elapsedTime = currentTime - startTime;

            for (var i = 0; i < data.length - 100; i++) {
                // IMPORTANT
                // we reset the x and y of the data which is out of drawing area
                // to prevent memory leaks
                data[i].x = elapsedTime - X_AXIS_RANGE - TICKINTERVAL
                data[i].y = 0
            }

            data.push({
                x: elapsedTime,
                y: new_val
            });

            chart.updateSeries([{
                data: data
            }])
        }, TICKINTERVAL);
    </script>
</body>

</html>