<html>

<head>
    <title>PID Control</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Page Layout -->
    <link rel="stylesheet" href="static/css/main.css" media='screen and (min-width: 800px)' />
    <link rel="stylesheet" href="static/css/mobile-main.css" media='screen and (max-width: 800px)' />
    <link rel="stylesheet" href="static/css/nav.css" />

    <!-- Themes -->
    <link rel="stylesheet" href="static/css/themes/controls_theme.css" />

    <!-- Material Design Icons -->
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css" rel="stylesheet">

    <link rel="stylesheet" href="static/css/icons.css" />

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous">
        </script>

    <!-- Automation -->
    <script src="static/js/html_loader.js"></script>

    <!-- ApexCharts -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <!-- MathJax -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <!-- PID Control demo JS -->
    <script src="static/js/pid_control_demo.js"></script>
</head>

<body>
    <div class="page-container">
        <div data-include="minor-header"></div>

        <div class="lesson-center-container">
            <div class="lesson-scroller">

                <div class="section-title">
                    Introduction
                    <hr>
                </div>

                <p class="lesson-text">
                    How would you control a robot?

                    There are a lot of ways to answer this question, and this lesson will explain one of them: PID
                    control.
                </p>

                <div class="section-title">
                    Simple Control Strategies
                    <hr>
                </div>

                <p class="lesson-text">
                    Bang-bang control
                </p>

                <div class="section-title">
                    What is PID?
                    <hr>
                </div>

                <p class="lesson-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis ultricies risus. Etiam fermentum
                    elit
                    ut ligula pulvinar ultricies. Nullam egestas sollicitudin tempus. Nam ac interdum mi. Morbi nec
                    purus
                    vel ligula malesuada sollicitudin. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                    posuere cubilia curae; Sed odio augue, rutrum sed imperdiet ut, ornare vitae mi. Fusce ex mi,
                    pharetra
                    nec placerat vitae, pellentesque vel felis. Aenean efficitur vel risus nec pharetra. Pellentesque
                    hendrerit leo in dui sollicitudin auctor. Maecenas ac magna vitae ipsum faucibus interdum nec
                    eleifend
                    nibh.
                </p>
                <p class="lesson-text">
                    When \(a \ne 0\), there are two solutions to \(ax^2 + bx + c = 0\) and they are
                    \[x = {-b \pm \sqrt{b^2-4ac} \over 2a}.\]
                </p>


                <!-- PID Control -->
                <div class="example-block">
                    <!-- <div class="lesson-img-frame">
                        <img src="/static/img/quadcopter-cad.png" class="lesson-gif"></img>
                    </div> -->
                    <div class="example-header">PID Control Demo</div>
                    <!-- <div class="lesson-authors">
                            Justin Kleiber
                        </div> -->

                    <div class="example-frame">
                        <div class="example-summary">
                            P = Proportional

                            I = Integral

                            D = Derivative
                        </div>

                        <div class="wrapper-2x2">
                            <div id="pid-control-inputs" class="example-inputs">
                                <b>PID Gains</b>
                                <div class="example-input-panel">

                                    <p class="example-user-input-container">
                                        <label for="kp-input" class="example-user-input">Kp:</label>
                                        <input type="number" id="kp-input" class="example-user-input" value="1.5">
                                    </p>
                                    <p class="example-user-input-container">
                                        <label for="ki-input" class="example-user-input">Ki:</label>
                                        <input type="number" id="ki-input" class="example-user-input" value="0.001">
                                    </p>
                                    <p class="example-user-input-container">
                                        <label for="kd-input" class="example-user-input">Kd:</label>
                                        <input type="number" id="kd-input" class="example-user-input" value="0.5">
                                    </p>

                                    <button onclick="run_pid_sim()">Go!</button>

                                </div>
                            </div>
                            <div id="draw-sim-pid-control-container">
                                <b>System</b>
                                <canvas id="draw-sim-pid-control-canvas" class="example-drawing"></canvas>
                            </div>
                            <div id="x-chart-pid-control" class="realtime-example-chart"></div>
                            <div id="u-chart-pid-control" class="realtime-example-chart"></div>
                        </div>




                    </div>
                </div>

            </div>
            <div data-include="footer"></div>
        </div>
    </div>

    <script>
        // Simulation Constants
        let TIME_INTERVAL_MS = 100;

        // Canvas
        var canvas = document.getElementById("draw-sim-pid-control-canvas");
        var ctx = canvas.getContext("2d");

        // PID control example constants
        var pid_x0 = [0, 0];   // Initial condition
        var pid_xt = 0.0; // Setpoint
        var pid_Kp = 0.5; // Proportional gain
        var pid_tf = 5;  // final sim time
        var pid_dt = TIME_INTERVAL_MS / 1000;
        var MIN_X0 = 25;
        var MAX_X0 = 45;

        // PID control example charts
        pid_charts = pid_chart_generator("#x-chart-pid-control", "#u-chart-pid-control", pid_tf, TIME_INTERVAL_MS);
        x_chart_1 = pid_charts[0];
        u_chart_1 = pid_charts[1];
        x_chart_1.render();
        u_chart_1.render();

        var pid_control_run = false;
        var pid_control_reset = false;
        var first_run = true;

        var pid_charts_dict = {
            x_chart: x_chart_1,
            pid_chart: u_chart_1
        };

        // Example data
        var pid_sim_data = {
            t: 0,
            x: pid_x0,
            setpoint: pid_xt,
            Kp: 1,
            Ki: 0,
            Kd: 0,
            dt: pid_dt,
            prev_error: 0,
            integrator: 0
        };
        var pid_x_data = {
            series: []
        };
        var pid_pid_data = {
            series: []
        };
        // reset to initialize
        example_reset(pid_x_data, pid_pid_data);
        console.log(pid_x_data)

        function run_pid_sim() {
            // Set state to running
            pid_control_run = true;

            // Reset the views.
            example_reset(pid_x_data, pid_pid_data);
            pid_sim_data.prev_error = 0;
            pid_sim_data.integrator = 0;
            pid_sim_data.t = 0;

            // Get user input.
            pid_sim_data.Kp = parseFloat(document.getElementById("kp-input").value);
            pid_sim_data.Ki = parseFloat(document.getElementById("ki-input").value);
            pid_sim_data.Kd = parseFloat(document.getElementById("kd-input").value);

            // Come up with new initial condition.
            new_x0(pid_sim_data);
        }

        function new_x0(sim_data) {
            // Generate random initial condition.
            var x0_range = MAX_X0 - MIN_X0;
            var x0_center = MAX_X0 - (x0_range / 2);
            var x0 = (Math.random() * x0_range) + (x0_center - (x0_range / 2));

            if (Math.random() > 0.5) {
                x0 = -1 * x0;
            }

            sim_data.x = [x0, 0];
        }

        window.setInterval(function () {
            // If this is the first run, draw the AUV to initialize the scene.
            if (first_run) {
                drawAUV(canvas, ctx, pid_sim_data.x[0])
            }

            // If PID control example is running, manage it.
            if (pid_control_run) {
                // Run the simulation
                pid_control_sim(pid_x_data.series, pid_pid_data.series, pid_sim_data);

                // Draw the example
                drawAUV(canvas, ctx, pid_sim_data.x[0])

                // Update charts
                pid_charts_dict.pid_chart.updateSeries(pid_pid_data.series);
                pid_charts_dict.x_chart.updateSeries(pid_x_data.series);

                if (pid_sim_data.t > pid_tf) {
                    pid_control_run = false;
                }
            }



        }, TIME_INTERVAL_MS);
    </script>
</body>

</html>